@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>HomePage</title>


    <style>
        h1{text-align :center;
   font-size : 60px;
}


      .img{height : 300px;
    width : 400px;}


      .Ent {
     
  
    height : 250px;
    width : 400px;
}

    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>
<body  style="background-color:lightgray">
    <h1>Welcome To Booksmart</h1>

    <div class="row">

        <div class="col-6">
          
             
                <img onclick="window.location.href='@Url.Action("Theory", "Booksmart" )';" class="img" src="~/Content/Images/Theory.jpg" />
  
        </div>


       
        <div  class="col-6">
      
            <div>
          
                <img onclick="window.location.href='@Url.Action("Practical", "Booksmart" )';" class="img" src="~/Content/Images/ThreeCups.jpg" />
            </div>
       
    </div>

    </div>

    <br /><br />
    <div class="row">
        <div class="col-4">
            
            <img style="position : absolute;
    left : 50px;
    bottom :50px;  height :150px;  width : 150px;" class="imgs" onclick="Info()" src="~/Content/Images/QuestionMark.jpg" />
</div>


            <div class="col-4">
                <img id="imgClickAndChange" onclick="window.location.href='@Url.Action("Entertainment", "Booksmart" )';" onmouseover="changeImage()" onmouseout="changeImageBack()" class="Ent" src="~/Pics/humpty 2.jpg" />
            
            </div>


        <div class="col-4"></div>
        </div>


    <br />

    
    <script>
        function changeImageBack() {

            document.getElementById("imgClickAndChange").src = "@Url.Content("~/Content/Images/humpty 2.jpg")";
        }
        function changeImage() {
            document.getElementById("imgClickAndChange").src = "@Url.Content("~/Pics/lock.jpg")";
        }
        function Info() {
            window.alert("Instructions \n You need an average of 50% to progress to the next level.\n The buttons with the locked icons are not accessible.\n To gain access one must play the current and pass. ")
        }

        function submit_by_id() {
            document.getElementById("form_id").submit();// Form submission

        }

        function submit_by_id2() {
            document.getElementById("form_id2").submit();// Form submission

        }
    </script>
</body>
</html>
